

body {
	font-family:sans-serif;
	background-color:rgb(248,248,248);
	margin:0px;
}


/* https://www.sitepoint.com/using-modern-css-to-build-a-responsive-image-grid/ */
.box {
	display: flex;
	flex-wrap: wrap;
}

.image {
	font-size: 12px; 
	display: inline-block;
	margin-bottom: 8px;
	width: calc(50% - 4px);
	margin-right: 8px;
	/*border: 1px solid rgb(192,192,192);*/
	background-color:white;
}

.image:nth-of-type(2n) {
	margin-right: 0;
}

@media screen and (min-width: 50em) {
	.image {
		width: calc(25% - 6px);
	}

	.image:nth-of-type(2n) {
		margin-right: 8px;
	}

	.image:nth-of-type(4n) {
		margin-right: 0;
	}
}

.top{
	position: fixed; 
	width: 100%; 
	top: 0; 
	height: 40px; 
	background-color: white;
	border-bottom:1px solid rgb(192,192,192);
}

.push{
	margin-bottom: 40px
}
